
/* Definição da Paleta de Cores */
:root {
    --background-dark: #121212;
    --background-lighter-dark: #1e1e1e;
    --background-grey: #2c2c2c;
    --background-input: #333;
    --border-dark: #555;
    --highlight-pink: #e91e63;
    --gradient-pink: linear-gradient(135deg, #ff99cc, #ff3399);
    --text-light: #ffffff;
    --text-grey: #bbb;
    --text-grey-light: #ccc;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: var(--background-dark);
    color: var(--text-light);
    transition: none;
}

body.dark-mode main {
    background-color: var(--background-lighter-dark);
    color: var(--text-light);
}

body.dark-mode .sidebar {
    background-color: var(--background-grey);
}

body.dark-mode .sidebar ul li a {
    color: var(--text-light);
}

body.dark-mode .sidebar ul li a:hover {
    background-color: var(--background-input);
}

body.dark-mode .header {
    background: var(--gradient-pink);
}

body.dark-mode .site-title a {
    color: var(--text-light);
    text-shadow: none;
}

body.dark-mode .site-title a:hover {
    text-shadow:
        5px 5px 8px rgb(0, 0, 0),
        -5px -5px 8px var(--highlight-pink),
        5px -5px 8px var(--highlight-pink),
        -5px 5px 8px var(--highlight-pink),
        6px 6px 12px rgba(233, 30, 99, 0.9),
        -6px -6px 12px rgba(233, 30, 99, 0.9);
}

body.dark-mode .footer {
    background-color: var(--background-grey);
}

body.dark-mode .footer-links a {
    color: var(--text-light);
}

body.dark-mode .footer-links a:hover {
    color: var(--highlight-pink);
}

/* Botões */
body.dark-mode .catalogue-button,
body.dark-mode .header-buttons button {
    color: var(--text-light);
    background: var(--gradient-pink);
}

body.dark-mode .catalogue-button:hover,
body.dark-mode .header-buttons button:hover {
    background-color: var(--highlight-pink);
}

/* Inputs */
body.dark-mode .search-bar input {
    background-color: var(--background-input);
    color: var(--text-light);
    border: 1px solid var(--border-dark);
}

body.dark-mode .search-bar input:focus {
    border-color: var(--highlight-pink);
}

/* Adapte outros estilos seguindo este padrão... */
