{% extends "base.html" %}

{% block title %}Cart{% endblock %}

{% block content %}

<main class="catalog">
    <h1>Catálogo de Produtos</h1>
    <div class="catalog-item">
        <h2>Linho com cinto</h2>
        <p>Preço: <strong>R$80,00</strong></p>
    </div>
    <div class="catalog-item">
        <h2>Cropped de manga</h2>
        <p>Preço: <strong>R$50,00</strong></p>
    </div>
    <div class="catalog-item">
        <h2>Bermuda Social</h2>
        <p>Preço: <strong>R$60,00</strong></p>
    </div>
    <div class="catalog-item">
        <h2>Short Tradicional</h2>
        <p>Preço: <strong>R$40,00</strong></p>
    </div>
</main>

{% endblock %}