{% extends "base.html" %}

{% block title %}Login - Empresa Confiável{% endblock %}

{% block content %}

<div class="login">

    <form class="card" id="loginForm" method="POST" action="/login">
        <div class="card-header">
            <h2>Login</h2>
        </div>

        <div class="card-content">
            <div class="card-content-area">
                <label for="usuario">Usuário</label>
                <input type="text" id="username" name="username" autocomplete="off" required>
            </div>

            <div class="card-content-area">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" autocomplete="off" required>
            </div>
        </div>

        <div class="card-footer">
            <input type="submit" value="Login" class="submit">
            <a href="/register" id="showRegisterForm" class="recuperar_senha">Criar conta</a>
        </div>

        <!-- To show error message -->
        <div id="errorMessage" style="color: red; display: none;">
            Invalid username or password.
        </div>
    </form>

</div>

{% endblock %}
