{% extends "base.html" %}

{% block title %}Criar Conta - Empresa Confiável{% endblock %}

{% block content %}

<div class="register">
    <form class="card" id="registerForm" method="POST" action="/register">
        <div class="card-header">
            <h2>Criar Conta</h2>
        </div>

        <div class="card-content">
            <div class="card-content-area">
                <label for="username">Usuário</label>
                <input type="text" id="username" name="username" autocomplete="off" required>
            </div>

            <div class="card-content-area">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" autocomplete="off" required>
            </div>

            <div class="card-content-area">
                <label for="confirmPassword">Confirmar Senha</label>
                <input type="password" id="confirmPassword" name="confirmPassword" autocomplete="off" required>
            </div>
        </div>

        <div class="card-footer">
            <input type="submit" value="Criar Conta" class="submit">
            <a href="/login" id="showLoginForm" class="recuperar_senha">Já tem uma conta? Faça login</a>
        </div>

        <!-- To show error message -->
        <div id="errorMessage" style="color: red; display: none;">
            As senhas não coincidem ou o nome de usuário já está em uso.
        </div>
    </form>
</div>

<script src="{{ url_for('static', filename='scripts/auth.js') }}"></script>

{% endblock %}
